<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8"> 
	<title>Practice</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<style type="text/css">
		.box {
			width: 200px;
			height: 200px;
			background-color: #ccc; 
		}
		.box.ng-enter {
			transition: 0.5s linear all;
			width: 0px;
			height: 0px;
		}
		.box.ng-enter-active {
			width: 200px;
			height: 200px;
		}
		.box.ng-leave {
			transition: 0.5s linear all;
			width: 200px;
			height: 200px;
		}
		.box.ng-leave-active {
			width: 0px;
			height: 0px;
		}
	</style>
</head>
<body ng-controller="MainController">
	<div class="box" ng-if="isShow"></div>
	<br />
	<dir>
		<button class="btn" ng-click="isShow=true">SHOW</button>&nbsp;
		<button class="btn" ng-click="isShow=false">HIDE</button>
	</dir>
	<script type="text/javascript">
		var myApp = angular.module('myApp',['ngAnimate']);
		myApp.controller("MainController",function($scope){
			$scope.isShow = false;
		});
	</script>
</body>
</html>