<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Event Calendar (Controller As)</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

    <!-- head -->
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../helpers/v2/main.css?v=2021.2.5007" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    <script src="../js/daypilot-all.min.js?v=2021.2.5007"></script>

    <!-- /head -->
</head>
<body>

<!-- top -->
<template id="content" data-version="2021.2.5007">

    <!-- /top -->

    <div class="note"><b>Note:</b> Read more about the <a href="https://doc.daypilot.org/calendar/angularjs/">AngularJS
        event calendar</a> plugin.
    </div>

    <div ng-app="main" ng-controller="CalendarCtrl as ctrl">
        <daypilot-calendar id="dp" config="ctrl.config" events="ctrl.events"
                           publish-as="ctrl.calendar"></daypilot-calendar>
        <div class="space">
            New event:
            <button ng-click="ctrl.add()">Add</button>
        </div>
        <div class="space">
            View:
            <button ng-click="ctrl.day()">Day</button>
            <button ng-click="ctrl.week()">Week</button>
        </div>
        <div class="space">
            First event:
            <button ng-click="ctrl.move()">Move</button>
            <button ng-click="ctrl.rename()">Rename</button>
        </div>
        <div class="space">
            Object:
            <button ng-click="ctrl.message()">Show Message</button>
        </div>
        <div class="space">
            Events array (debug):
            <div ng-repeat="item in ctrl.events">
                {{item}}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var app = angular.module('main', ['daypilot']).controller('CalendarCtrl', function () {

            this.config = {
                startDate: "2014-09-01",
                viewType: "Week"
            };

            this.events = [
                {
                    start: new DayPilot.Date("2014-09-01T10:00:00"),
                    end: new DayPilot.Date("2014-09-01T14:00:00"),
                    id: DayPilot.guid(),
                    text: "First Event"
                }
            ];

            this.add = function () {
                this.events.push(
                    {
                        start: new DayPilot.Date("2014-09-01T10:00:00"),
                        end: new DayPilot.Date("2014-09-01T12:00:00"),
                        id: DayPilot.guid(),
                        text: "Simple Event"
                    }
                );
            };

            this.move = function () {
                var event = this.events[0];
                event.start = event.start.addDays(1);
                event.end = event.end.addDays(1);
            };

            this.rename = function () {
                this.events[0].text = "New name";
            };

            this.message = function () {
                this.calendar.message("Hi");
            };

            this.day = function () {
                this.config.viewType = "Day";
            };

            this.week = function () {
                this.config.viewType = "Week";
                this.calendar.update();
            };

        });

    </script>

    <!-- bottom -->
</template>

<script src="../helpers/v2/app.js?v=2021.2.5007"></script>
<!-- /bottom -->

</body>
</html>

